* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 65%;
}

main {
    width: 65%;
    display: grid;

    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 7fr 5fr 2fr;

    gap: 1rem;
}

.img-container {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;

    border-radius: 1rem;
    overflow: hidden;
}

.img-container > img {
    width: 100%;
}

.game-title {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 1rem;
}

.description {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.price-container {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}

.price {
    font-size: x-large;
}