@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Montserrat:wght@300&family=Poppins&display=swap');

:root {
    --accent: rgb(248, 237, 159)
}

* {
    color: var(--accent);
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.logo {
    height: 3rem;
}

body {
    background: linear-gradient(to right top, rgb(40, 40, 40), rgb(80, 80, 80));
}

h1, h2 {
    font-family: 'Geologica', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 198, 128);
}